extends layout

block head
	link(href='/css/index.css', rel='stylesheet')

block content
	article(id='main-wrapper')
		div(id='description')
			h1 Bienvenue à PolyQuiz
			p Lorem ipsum dolor sit amet, solum sonet argumentum vel te. Pro ut clita pericula. Vis an verear oporteat maluisset, simul possit est ne. In malis tation putant est. Pertinax ocurreret qui no, sed at mentitum mediocrem. Cu alienum expetenda mel.

			p Vitae quando partiendo pri id, ad menandri mandamus principes pri. Ei hinc agam eum, et iusto postulant sit. Quod denique hendrerit in eum, consul corpora perfecto an quo. Pro id postea noluisse. His ea vero denique platonem, in duo amet novum vulputate. Ad menandri antiopam mei.

			p Id nam invenire prodesset adolescens. Movet aliquando intellegam id duo, dicta aliquando scribentur vis id. Sumo sensibus sit ea, vix in duis munere omittam. At dico etiam eum. At per copiosae disputationi, no fugit platonem contentiones duo.