doctype html
html
	head
		title= title
		link(href='/css/polyquiz.css', rel='stylesheet')
		script(type='text/javascript' src='javascripts/jquery-3.1.1.min.js')
		block head

	body
		header
			div(class='navimage')
				img(src='/images/logo.png')
			div(class='navtitle')
				b Poly Quiz
			div.navlink#navlink-home
				a(href='/')
					img.navicon(src='/images/home.png')
					div.navlink-label Acceuil
			div.navlink#navlink-mypage
				a(href='/mypage')
					img.navicon(src='/images/calendar.png')
					div.navlink-label Tableau de Bord
			div.navlink#navlink-instructions
				a(href='/instructions')
					img.navicon(src='/images/info.png')
					div.navlink-label Instructions
			div(id='user-info')
				div(id='username') John Smith
				div(id='logout')
					a(href='/')
						img(src='/images/logout.png')

		block content

		footer
			div Guillaume Langis 1579724
			div Maxime Perusse 1685946

		block modal