extends layout

block head
	link(href='/css/mypage.css', rel='stylesheet')
	script.
		$(document).ready(function() 
		{	
			window.sessionStorage['current.domain'] = $('#test-domain').val();
			window.sessionStorage['current.nbQuestions'] = $('#test-nbQuestions').val();
			displayStatistics();

			$('#test-domain').on('change', function() {
				if($(this).val() == 'CSS' || 'JS' || 'HTML') {
					window.sessionStorage['current.domain'] = $(this).val();
				} else {
			  		alert('Valeur de domaine invalide.');
				}	
			});
			$('#test-nbQuestions').on('change', function() {
				if($(this).val() == '1' || '2' || '3' || '4') {
					window.sessionStorage['current.nbQuestions'] = $(this).val();
				} else {
			  		alert('Valeur de nombre de questions invalide.');
				}
			});
		});

block content
	article(id='main-wrapper')
		div(id='description')
			h1 Tableau de Bord
			section#wrapper
				section#summary
					section#details-btn.single-cell
						div(class='mypage-label') John Smith
						a(class='mypage-link', href='#about')
							div Details
					section#instructions.single-cell
						div(class='mypage-label') Instructions
						a(class='mypage-link', href='instructions')
							div Instructions
					section#quicktest.single-cell
						div(class='mypage-label') Tests Rapides
						a(class='mypage-link', href='quicktest') 
							div Nouveau Test
					section#fulltest.single-cell
						div(class='mypage-label') Examens
						div(class='mypage-sublabel') Domaine:
						div.mypage-label#exam-type
							select#test-domain
								option(name='HTML') html
								option(name='CSS') css
								option(name='JS') js
						div(class='mypage-sublabel') Nombre de question(s):
						div.mypage-label#exam-type
							select#test-nbQuestions
								option(name='1') 1
								option(name='2') 2
								option(name='3') 3
								option(name='4') 4
						a(class='mypage-link', href='/test')
							div Commencer
				section#statistics
					div#statistics-content
						h2 Statistiques
						h1 Tests
						table
							tr
								td Total
								td#stats-quicktests
						h1 Examens
						table#stats-exams-table

block modal
	span#start.target
	span#about.target
	div.modal
		div.content.vertical-align-middle
			a.close-btn(href='#start')
				div#modal-bg
			div#details-content
				h2 Statistiques
				h1 Tests
				table
					tr
						td Total
						td#stats-quicktests
				h1 Examens
				table#stats-exams-table
