extends layout

block head
	link(href='/css/mypage.css', rel='stylesheet')
	script(type='text/javascript' src='javascripts/jquery-3.1.1.min.js')
	script.
		$(document).ready(function() 
		{	
			window.sessionStorage['exam-domain'] = $('#exam-domain').val();
			window.sessionStorage['exam-nbQuestions'] = $('#exam-nbQuestions').val();
			$('#exam-nbQuestions').on('change', function() {
				if($(this).val() == '1' || '2' || '3' || '4') {
					window.sessionStorage['exam-nbQuestions'] = $(this).val();
				} else {
			  		alert('Valeur de nombre de questions invalide.');
				}
			});
			$('#exam-domain').on('change', function() {
				if($(this).val() == 'CSS' || 'JS' || 'HTML') {
					window.sessionStorage['exam-domain'] = $(this).val();
				} else {
			  		alert('Valeur de domaine invalide.');
				}	
			});
		});

block content
	article(id='main-wrapper')
		div(id='description')
			h1 Tableau de Bord
			section#summary
				section#details-btn.single-cell
					div(class='mypage-label') John Smith
					a(class='mypage-link', href='#about')
						div Details
				section#instructions.single-cell
					div(class='mypage-label') Instructions
					a(class='mypage-link', href='instructions')
						div Instructions
				section#quicktest.single-cell
					div(class='mypage-label') Tests Rapides
					a(class='mypage-link', href='quicktest') 
						div Nouveau Test
				section#fulltest.single-cell
					div(class='mypage-label') Examens
					div(class='mypage-sublabel') Domaine:
					div.mypage-label#exam-type
						select#exam-domain
							option(name='HTML') HTML
							option(name='CSS') CSS
							option(name='JS') JS
					div(class='mypage-sublabel') Nombre de question(s):
					div.mypage-label#exam-type
						select#exam-nbQuestions
							option(name='1') 1
							option(name='2') 2
							option(name='3') 3
							option(name='4') 4
					a(class='mypage-link', href='/test')
						div Commencer
				section#Results.multi-cell
					div.multi-cell-wrapper
						div.multi-cell-header Examens Precedents
						div.multi-cell-content
							table
								tbody
									tr
										td.results-label Test Rapide 1
										td.results-value 60%
									tr
										td.results-label Test Rapide 2
										td.results-value 30%
									tr
										td.results-label Test Rapide 3
										td.results-value 30%
									tr
										td.results-label Test Rapide 4
										td.results-value 30%
									tr.total
										td.results-label Examen
										td.results-value 100%
			section#statistics
				div#statistics-content
					h1 Statistiques
					table
						tr
							td Test #1
							td 75%
						tr
							td Test #2
							td 75%
						tr
							td Test #3
							td 75%
						tr
							td Test #4
							td 75%
						tr.total
							td Moyenne
							td 75%
					table
						tr
							td Examen #1
							td 75%
						tr
							td Examen #2
							td 75%
						tr
							td Examen #3
							td 75%
						tr
							td Examen #4
							td 75%
						tr.total
							td Moyenne
							td 75%

block modal
	span#start.target
	span#about.target
	div.modal
		div.content.vertical-align-middle
			a.close-btn(href='#start')
				div#modal-bg
			div#details-content
				h1 Details
				table
					tr
						td.label Test #1
						td.value 75%
					tr
						td.label Test #2
						td.value 75%
					tr
						td.label Test #3
						td.value 75%
					tr
						td.label Test #4
						td.value 75%
					tr.total
						td.label Moyenne
						td.value 75%
				table
					tr
						td.label Examen #1
						td.value 75%
					tr
						td.label Examen #2
						td.value 75%
					tr
						td.label Examen #3
						td.value 75%
					tr
						td.label Examen #4
						td.value 75%
					tr.total
						td.label Moyenne
						td.value 75%
