extends layout

block head
	link(href='/css/question.css', rel='stylesheet')
	script.
		$(document).ready(function() 
		{
			var correct = window.sessionStorage['current.correctAnswers'];
			var total = window.sessionStorage['current.nbQuestions'];
			var domaine = window.sessionStorage['current.domain'];
			$('#result').text('Vous avez obtenu ' + correct + ' bonne réponse(s) sur un total de ' + total + ' question(s).');

			saveResults(correct, total, domaine);
			displayStatistics();
		});

block content
	article(id='main-wrapper')
		h1 Examen

		section#question
			h1 Examen Terminé
			span#result
			div#clear
			section#quiz-navig
				div#next.quiz-navig-btn
					a(href='/mypage') 
						div Terminer
				div#closer
		section#statistics
					div#statistics-content
						h2 Statistiques
						h1 Tests
						table
								tr
									td Total
									td#stats-quicktests
						h1 Examens
						table#stats-exams-table