extends layout

block head
	link(href='/css/question.css', rel='stylesheet')
	script.
		$(document).ready(function() 
		{
			var nbQuestion = window.sessionStorage['current.nbQuestions'];
			var domaine = window.sessionStorage['current.domain'];
			$('#domain').text(domaine);

			var correctQuestion = 0;
			var questionNumber = 0;
			var currentAnswer;
			var questions;
			$.ajax({
				url: "api/test",
				type: "get", 
				data:{domain: domaine, nbQuestions: nbQuestion},
				success: function(response) {
					questions = response;
					console.log(response);
					displayNextQuestion();
				},
				error: function(error) {
					alert("AJAX request failed.");
				}
			});

			function displayNextQuestion() {
				displayStatistics(0);

				$('#answer').trigger("reset");

			 	$('#questionProgress').text(correctQuestion + '/' + nbQuestion);
			 	
			 	var questionTitleNumber = questionNumber + 1;
			 	$('#questionTitle').text('Question ' + questionTitleNumber);
				var currentQuestion = questions[questionNumber];

				$('#askedQuestion').text(currentQuestion.question);
				$('#answer1').text(currentQuestion.answers[0]);
				$('#answer2').text(currentQuestion.answers[1]);
				$('#answer3').text(currentQuestion.answers[2]);
				currentAnswer = currentQuestion.correctanswerindex;
			}

			$('#next.quiz-navig-btn').on('click', function() {
				var selectedAnswer = $('input[name=answer]:checked', '#answer').val();

				if(selectedAnswer == null) {
					return; // display error
				}

				if(selectedAnswer == currentAnswer) {
					correctQuestion++;
				} 

				if(++questionNumber == nbQuestion) {
					window.sessionStorage['current.correctAnswers'] = correctQuestion;
					window.location = "/results";
				} else {
					displayNextQuestion();
				}
			});

			$('#prev.quiz-navig-btn').on('click', function() {
				window.sessionStorage['current.correctAnswers'] = 0;
				window.location = "/results";
			});
		});

block content
	article(id='main-wrapper')
		h1 Examen
		
		section#results
			div#results-content
				h1 Resultats
				p#questionProgress

		section#question
			h1#questionTitle
			label Domaine : 
			span#domain domain
			p#askedQuestion askedQuestion
			form#answer
				input(name='answer', type='radio', value='0', required='')
				span#answer1
				br
				input(name='answer', type='radio', value='1')
				span#answer2
				br
				input(name='answer', type='radio', value='2')
				span#answer3
				br
				// <input type="submit" value="Suivant"><br>
			div#clear
			section#quiz-navig
				div#prev.quiz-navig-btn
					a
						div Abandonner 
				div#next.quiz-navig-btn
					a
						div Suivant
				div#closer
		section#statistics
			div#statistics-content
				h1 Statistiques
				h1 Tests passés
				table
					tr
						td Total
						td#stats-quicktests
				h1 Examens passés
				table
					tr
						td CSS
						td#stats-exams-css
					tr
						td HTML
						td#stats-exams-html
					tr
						td JS
						td#stats-exams-js
					tr.total
						td Moyenne totale
						td#stats-exams-average