/* blue #d35e5e */
/* black #4d4d4d */
/* grey #f2f2f2 */

#navlink-mypage {
	background: #d35e5e;
}
#main-wrapper {
	margin-right:0px;
}

#summary {
	float:left;
}

@media (min-width: 768px) {
	#summary {
		width:calc(100% - 216px);
	}
}
@media (max-width: 1023px) {
	#summary {
		width:calc(100% - 216px);
	}
}

/* SINGLECELL */
.single-cell {
	border-radius:12px;
	background: #f2f2f2;
	height:52px;
	margin-bottom:8px;
}

.mypage-label, .mypage-sublabel {
	float:left;
}

.mypage-label {
	margin-left:8px;
	margin-top:16px;
	font-weight:bold;
}

.mypage-sublabel {
	margin-left:12px;
	margin-top:18px;
	color: black;
	font-size: 13px;
}

.mypage-link {
	float:right;

	width:33%;
	min-width: 120px;

	border-radius: 12px;
	background: #4d4d4d;
	height:52px;

	color:white;
	text-decoration: none;
}

.mypage-link > div {
	margin-top:16px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	text-align:center;
}

#exam-type {
	margin-top:0px;
	cursor:pointer;
}
#exam-type select {
	cursor:pointer;

	border-radius: 12px;
	height:52px;
}
#exam-type option {
	text-align:center;
}


.mypage-link:hover {
	background: #d35e5e;
}

/* MULTICELL */
.multi-cell {
	border-radius:12px;
	background: #f2f2f2;
	margin-bottom:8px;
}
.multi-cell-wrapper {

}
.multi-cell-header {
	margin-left:8px;
	padding-top:8px;
	font-weight: bold;
}
.multi-cell-content {
	margin-top:4px;
	margin-left:8px;
	margin-bottom:16px;
}
.multi-cell td {
	padding:4px;
}
.results-label {

}


/* TABLES */
table {
	width:98%;
	border-collapse: collapse;

	margin-bottom:16px;
}
td.results-value, td.value {
	text-align:right;
}
tr.total {
	border-top:1px solid grey;
	font-weight: bold;
}

@media (min-width: 768px) {
}

@media (max-width: 768px) {
}


#statistics {
	float:right;
	width:200px;

	border-radius: 12px 0px 0px 12px;
	background: #f2f2f2;
}
#statistics-content {
	margin:16px;
}
#statistics table {
	width:100%;
	border-collapse: collapse;
	margin-bottom: 32px;
}



/* MODAL VERSION MODIFIE DE https://codepen.io/dsheiko/pen/jCcld?editors=1100#0 */
#modal-bg {
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
}

/* Modal window sample styles */
/* Vertical centering trick http://css-tricks.com/centering-in-the-unknown/ */
.modal::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin: 0;
}

.target {
	display: block;
	left: 0;
	position: fixed;
	top: 0;
	width: 0;
	height: 0;
	visibility: hidden;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 100;
	text-align: center;
	display: none;
}
.modal > .content {
	text-align: left;
	display: inline-block;
	
}
#details-content {
	background-color: #f2f2f2;
	border-radius: 12px;
	color: black;

	min-width: 300px;

	position: relative;
	padding: 20px;
}

.modal > .content .close-btn {
	position:fixed;
	top:0;
	right:0;
	width:100%;
	height:100%;
}

.target:target + .modal {
	display: block;
}