/* blue #d35e5e */
/* black #4d4d4d */
/* grey #f2f2f2 */
/* red #d35e5e */

body {
	margin:0px;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	
}

footer {
	position: absolute;
	bottom:0px;

	padding:8px;

	background: #d35e5e;

	width: calc(100% - 16px);

	font-size:8pt;

	text-align: right;
}

.navimage {
	background: #d35e5e;
}

.navtitle {
	color:white;
}

.navlink:hover {
	background: #d35e5e;
}


/* ANIMATIONS */
@keyframes gray2blue {
	from {background:#4d4d4d;}
	to {background:#d35e5e;}
}


@media (min-width: 768px) {
	header {
		width: 200px;
		height: 100%;

		top:0px;
		position:absolute;

		background: #4d4d4d;
	}

	footer {
		margin-left:200px;
		width:calc(100% - 16px - 200px);
	}

	/* NAVIGATION */
	.navtitle {
		font-size: 22pt;
		text-align: center;
		padding:4px;

		background: #d35e5e
	}
	.navimage {
		padding:8px;
	}
	.navimage img {
		max-width: 100%;
	}
	.navlink, .navtitle {
		height: 36px;
	}
	.navlink a, .navtitle a {
		height:100%;

		text-decoration: none;
		color: white;
	}
	.navicon {
		margin-top:4px;
		margin-bottom:4px;
		margin-left:4px;
		float:left;
		height:28px;
	}
	.navlink {
		cursor: pointer;

		clear:left;	

		height:36px;
	}
	.navlink-label {
		float:left;
		margin-left:8px;
		margin-top:8px;
	}

	#main-wrapper {
		margin-top:32px;
		margin-left:232px;
	}


	/* FOOTER */
	#user-info {
		position: absolute;
		bottom:0px;

		background: #4d4d4d;
		height:42px;
		width:calc(100%);

		color:white;

		padding:0px;
	}

	#username {
		margin-top:8px;
		margin-left:8px;
		float:left;
	}
	#logout {
		width:42px;
		float:right;
		height: 100%;
	}
	#logout img {
		margin-top:8px;
		margin-left:8px;
		max-height: 26px;
	}
	#logout:hover {
		background: #d35e5e;
	}
}

@media (max-width: 768px) {
	header {
		width:100%;
		height:42px;

		top:0px;
		position:absolute;

		background: #4d4d4d;
	}

	/* NAVIGATION */
	.navimage {
		height: 42px;
		width:42px;

		float:left;
	}
	.navimage img {
		margin:4px;
		height:36px;
		max-width: 100%;
	}
	.navlink, .navtitle {
		height: 42px;
	}
	.navlink a, .navtitle a {
		height:100%;

		text-decoration: none;
		color: white;
	}
	.navicon {
		margin-top:4px;
		margin-bottom:4px;
		margin-left:4px;
		float:left;
		height:32px;
	}
	.navlink {
		cursor: pointer;
		float:left;
		height:42px;
		width:42px;
	}
	.navlink-label {
		display:none;
	}
	.navlink:hover {
		background: #d35e5e;
	}

	#main-wrapper {
		margin-top:32px;
		margin-left:232px;
	}
	.navtitle {
		display: none;
	}



	#main-wrapper {
		margin-top:56px;
		margin-left:8px;
		margin-right:8px;
	}



	/* FOOTER */
	#user-info {
		position: absolute;
		right:0px;

		background: #4d4d4d;
		height:42px;

		color:white;

		padding:0px;
	}

	#username {
		margin-top:8px;
		margin-left:8px;
		float:left;
	}
	#logout {
		width:42px;
		float:right;
		height: 100%;
	}
	#logout img {
		margin-top:4px;
		margin-left:4px;
		max-height: 26px;
	}
	#logout:hover {
		background: #d35e5e;
	}
}